/*
RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html {
    font-family: "PT Sans", sans-serif;
}

:root {
    --header-blue : #0084FD;
    --main-skyblue : #B5DDFF;
    --main-purple : #9692E4;
    --main-text : #5B6F80;
    --footer-yellow : #fdc15f;
    --footer-background : #333333;
    --hover-color : #fcfc3e;
    --white : #ffffff;
}

/*
GENERAL
*/

body .container {
    margin: 0 auto;
    width: 576px;
}

body .row {
    width: 80% ;
    margin: 0 auto;
}

header .list {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

 .button {
    background: none;
    border: none;
    color: white;
    padding: 5px;
 }

 .blue-button {
    background-color: var(--header-blue);
 }

 header .white {
    border-radius: 20px;
    color: black ; 
    background-color: var(--white);
 }

img {
    max-width: 100%;
}

.section-purple {
    background-color: var(--main-purple);
}

main .row .card {
    background-color: var(--main-skyblue) ;
}



/*
HEADER
*/

header .container {
    background-color: #0084FD;

}

header .container i {
    color: white;
}



/*
RESPONSIVE
*/

